<section class="section-wrap single-product">
	<div class="container relative">
		<div class="row">
			<div class="col-sm-6 col-xs-12 mb-60">
				<div class="flickity flickity-slider-wrap mfp-hover flickity-enabled is-draggable" id="gallery-main" tabindex="0">
					<div class="flickity-viewport" style="height: 571.719px;"><div class="flickity-slider" style="left: 0; transform: translateX(0%);"><div class="gallery-cell is-selected" style="position: absolute; left: 0;">
						<a href="{{products?.productImg}}" class="lightbox-img">
							<img src="{{products?.productImg}}" alt="" id="ProductPhotoImg">
							<i class="icon arrow_expand"></i>
						</a>
					</div><div class="gallery-cell " style="position: absolute; left: 100%;">
						<a href="{{products?.productImg}}" class="lightbox-img">
							<img src="{{products?.productImg}}" alt="">
							<i class="icon arrow_expand"></i>
						</a>
					</div><div class="gallery-cell " style="position: absolute; left: 200%;">
						<a href="{{products?.productImg}}">
							<img src="{{products?.productImg}}" alt="">
							<i class="icon arrow_expand"></i>
						</a>
					</div><div class="gallery-cell " style="position: absolute; left: 300%;">
						<a href="//cdn.shopify.com/s/files/1/1820/4343/products/11_0313891d-6976-4dab-8b0e-baed1a825cb7_grande.jpg?v=1489479754" class="lightbox-img">
							<img src="//cdn.shopify.com/s/files/1/1820/4343/products/11_0313891d-6976-4dab-8b0e-baed1a825cb7_grande.jpg?v=1489479754" alt="">
							<i class="icon arrow_expand"></i>
						</a>
					</div><div class="gallery-cell " style="position: absolute; left: 400%;">
						<a href="//cdn.shopify.com/s/files/1/1820/4343/products/12_3e9f41ad-c56d-4187-976c-322b24cb4311_grande.jpg?v=1489479755" class="lightbox-img">
							<img src="//cdn.shopify.com/s/files/1/1820/4343/products/12_3e9f41ad-c56d-4187-976c-322b24cb4311_grande.jpg?v=1489479755" alt="">
							<i class="icon arrow_expand"></i>
						</a>
					</div></div></div><button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></div> <!-- end gallery main -->
				<div class="gallery-thumbs flickity-enabled is-draggable" tabindex="0">
					<div class="flickity-viewport" style="height: 102.25px;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="gallery-cell is-nav-selected is-selected" style="position: absolute; left: 0%;">
						<img src="{{products?.productImg}}" alt="">
					</div><div class="gallery-cell " style="position: absolute; left: 20%;">
						<img src="{{products?.productImg}}" alt="">
					</div><div class="gallery-cell " style="position: absolute; left: 40%;">
						<img src="{{products?.productImg}}" alt="">
					</div><div class="gallery-cell " style="position: absolute; left: 60%;">
						<img src="{{products?.productImg}}" alt="">
					</div><div class="gallery-cell " style="position: absolute; left: 80%;">
						<img src="{{products?.productImg}}" alt="">
					</div></div></div></div> <!-- end gallery thumbs -->
			</div>
			<div class="col-sm-6 col-xs-12 product-description-wrap">
				<h1 class="product-title">{{products?.name}}</h1>
				<span class="spr-badge" id="spr_badge_8905565960" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i></span><span class="spr-badge-caption">No reviews</span>
</span>

				<span class="price">

						<del>
							<span id="ComparePrice" itemprop="price"><span class="money" data-currency-usd="$350.00">{{products?.price}}</span></span>
						</del>

						<ins>
							<span id="ProductPrice" itemprop="price"><span class="money" data-currency-usd="$150.00">$150.00</span></span>
						</ins>
					</span>
				<p class="product-description">
						<span>
              {{products?.brand}}
            </span></p>

				<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="USD">
					<link itemprop="availability" href="http://schema.org/InStock">
					<div class="relative">
						<form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form" class="form-vertical">
							<div id="product-variants" class="swatch-product-variants">
								<input type="hidden" id="product-selectors" name="id" value="31800555912">
							</div>
							<ul class="product-actions clearfix">
								<li>
									<div class="quantity buttons_added">
										<div class="js-qty">
											<input type="button" value="-" class="js-qty__adjust js-qty__adjust--minus minus" data-id="" data-qty="0">
											<input type="text" class="js-qty__num input-text text" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="Quantity">
											<input type="button" value="+" class="js-qty__adjust js-qty__adjust--plus plus" data-id="" data-qty="11">
										</div>
									</div>
								</li>
								<li>
									<button id="product-add-to-cart" class="btn btn-color btn-lg left">
										<span id="AddToCartText">Add to Cart</span>
									</button>
								</li>
							</ul>
						</form>
						<div class="product-actions icon-add-to-wishlist">
							<a href="/account/login" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Already in your wishlist, Go to wishlist">
								<i class="fa fa-heart-o" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<div class="product_meta">
						<span class="sku">SKU: {{products?.productCode}}<a href="#" class="variant-sku"></a></span>
						<span class="posted_in">Category:
								<a href="#" title="">{{products?.category.name}}</a>,
							</span>
						<span class="tagged_as">Tags:
								<a href="#">Example tag</a>,
							</span>
					</div>
					<div class="socials-share clearfix">
						<div class="social-icons rounded">
							<a href="https://twitter.com/share?url=https://ahashop-theme.myshopify.com/products/gray-california-dress" class="social-twitter" target="_blank" title="ahashop-theme on Twitter"><i class="fa fa-twitter"></i></a>
							<a href="https://www.facebook.com/sharer/sharer.php?u=https://ahashop-theme.myshopify.com/products/gray-california-dress&amp;p[images][0]=http://cdn.shopify.com/s/files/1/1820/4343/products/1_2042f501-88f5-4d27-8dfb-a81b527a86f3_grande.jpg?v=1489479749" class="social-facebook" target="_blank" title="ahashop-theme on Facebook"><i class="fa fa-facebook"></i></a>
							<a href="https://plus.google.com/share?url=https://ahashop-theme.myshopify.com/products/gray-california-dress" class="social-google-plus" target="_blank" title="ahashop-theme on Google Plus"><i class="fa fa-google-plus"></i></a>
							<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://ahashop-theme.myshopify.com/products/gray-california-dress" class="social-linkedin" target="_blank" title="ahashop-theme on Linkedin"><i class="fa fa-linkedin"></i></a>
							<a href="https://vimeo.com/" target="_blank"><i class="fa fa-vimeo"></i></a>
						</div>
					</div>
				</div>
				<div class="kudos">
					<img src="//cdn.shopify.com/s/files/1/1820/4343/files/secure-checkout_1024x1024.png?v=1532081603">
				</div>
			</div> <!-- end col product description -->
		</div> <!-- end row -->
		<!-- tab product -->

		<div class="row">
			<div class="col-md-12">
				<div class="tabs tabs-bb">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab-description" data-toggle="tab" aria-expanded="true">Description</a>
						</li>


						<li>
							<a href="#tab_item_0" data-toggle="tab" aria-expanded="false">
								Size Chart
							</a>
						</li>


						<li>
							<a href="#tab-reviews" data-toggle="tab" aria-expanded="false">Reviews</a>
						</li>

					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-description">
							<div><span>{{products?.description}}</span></div>
						</div>


						<div class="tab-pane fade" id="tab_item_0">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit.
							<img src="https://cdn.shopify.com/s/files/1/1820/4343/files/custom_size_chart_content.jpg?11237766438652228052">
						</div>


						<div class="tab-pane fade" id="tab-reviews">

							<div class="reviews">
								<div id="shopify-product-reviews" data-id="8905565960"><style scoped="">.spr-container {
									padding: 24px;
									border-color: #ececec;}
								.spr-review, .spr-form {
									border-color: #ececec;
								}
								</style>

									<div class="spr-container">
										<div class="spr-header">
											<h2 class="spr-header-title">Customer Reviews</h2><div class="spr-summary">
											<span class="spr-summary-caption">No reviews yet</span><span class="spr-summary-actions">
				<a href="#" class="spr-summary-actions-newreview" onclick="SPR.toggleForm(8905565960);return false">Write a review</a>
			</span>
										</div>
										</div>

										<div class="spr-content">
											<div class="spr-form" id="form_8905565960" style="display: none"><form method="post" action="//productreviews.shopifycdn.com/api/reviews/create" id="new-review-form_8905565960" class="new-review-form" onsubmit="SPR.submitForm(this);return false;"><input type="hidden" name="review[rating]"><input type="hidden" name="product_id" value="8905565960"><h3 class="spr-form-title">Write a review</h3><fieldset class="spr-form-contact"><div class="spr-form-contact-name">
												<label class="spr-form-label" for="review_author_8905565960">Name</label>
												<input class="spr-form-input spr-form-input-text " id="review_author_8905565960" type="text" name="review[author]" value="" placeholder="Enter your name">
											</div><div class="spr-form-contact-email">
												<label class="spr-form-label" for="review_email_8905565960">Email</label>
												<input class="spr-form-input spr-form-input-email " id="review_email_8905565960" type="email" name="review[email]" value="" placeholder="john.smith@example.com">
											</div></fieldset>


												<fieldset class="spr-form-review">

													<div class="spr-form-review-rating">
														<label class="spr-form-label" for="review[rating]">Rating</label>
														<div class="spr-form-input spr-starrating ">
															<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="1">&nbsp;</a>
															<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="2">&nbsp;</a>
															<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="3">&nbsp;</a>
															<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="4">&nbsp;</a>
															<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="5">&nbsp;</a>
														</div>
													</div>

													<div class="spr-form-review-title">
														<label class="spr-form-label" for="review_title_8905565960">Review Title</label>
														<input class="spr-form-input spr-form-input-text " id="review_title_8905565960" type="text" name="review[title]" value="" placeholder="Give your review a title">
													</div>

													<div class="spr-form-review-body">
														<label class="spr-form-label" for="review_body_8905565960">Body of Review <span class="spr-form-review-body-charactersremaining">(1500)</span></label>
														<div class="spr-form-input">
															<textarea class="spr-form-input spr-form-input-textarea " id="review_body_8905565960" data-product-id="8905565960" name="review[body]" rows="10" placeholder="Write your comments here"></textarea>
															<script>
																function sprUpdateCount(e){
																	var $el = SPR.$(e.currentTarget);
																	SPR.$(".spr-form-review-body-charactersremaining").html('(' + (1500 - $el.val().length) + ')');
																}
																SPR.$("textarea[data-product-id=8905565960]").keyup(sprUpdateCount).trigger("keyup");
															</script>
														</div>
													</div>
												</fieldset>

												<fieldset class="spr-form-actions">
													<input type="submit" class="spr-button spr-button-primary button button-primary btn btn-primary" value="Submit Review">
												</fieldset></form></div>
											<div class="spr-reviews" id="reviews_8905565960" style="display: none"></div>
										</div>

									</div></div>
							</div> <!--  end reviews -->
						</div>

					</div> <!-- end tab content -->

				</div>
			</div>
		</div>

	</div><!-- end container -->
</section>
