<div class="entry-slider">
  <div class="flexslider" id="flexslider-hero">
    <ul class="slides clearfix">
      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="" data-thumb-alt="">
        <img src="" alt="" draggable="false">
        <div class="img-holder img-1"></div>
        <div class="hero-holder text-center right-align">
          <div class="hero-lines">
            <h1 class="hero-heading white">Collection 2017</h1>
            <h4 class="hero-subheading white uppercase">HOT AND FRESH TRENDS OF THIS YEAR</h4>
          </div>
          <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
        </div>
      </li>
      <li data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
        <img src="" alt="" draggable="false">
        <div class="img-holder img-2"></div>
        <div class="hero-holder text-center">
          <div class="hero-lines">
            <h1 class="hero-heading white large">Winter Sales</h1>
          </div>
          <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
        </div>
      </li>
      <li data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <img src="" alt="" draggable="false">
        <div class="img-holder img-3"></div>
        <div class="hero-holder left-align">
          <div class="hero-lines">
            <h1 class="hero-heading white">Autumn 2017</h1>
            <p class="white">A-ha Theme is the Best E-Commerce solution</p>
            <p class="white">Packed with tons of features and unique styles</p>
          </div>
          <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
        </div>
      </li>
      <li data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <img src="" alt="" draggable="false">
        <div class="img-holder img-4"></div>
        <div class="hero-holder text-center right-align">
          <div class="hero-lines">
            <h1 class="hero-heading white">Summer 2017</h1>
            <p class="white">A-ha Theme is the Best E-Commerce solution</p>
            <p class="white">Packed with tons of features and unique styles</p>
          </div>
          <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
        </div>
      </li>
    </ul>
    <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="flex-active">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li></ol></div>
</div>
