<div class="product-item">
  <div class="product-img">
    <a routerLink="detail" [queryParams]="{id: productData.id}" class="grid__image">
      <img src="{{productData.productImg}}" alt="Wine-1">
    </a>
    <div class="product-actions icon-add-to-wishlist">
      <a routerLink="login" class="product-add-to-wishlist" data-toggle="tooltip"
         data-placement="bottom" title="Already in your wishlist, Go to wishlist"
         data-original-title="Added to wishlist">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="quickview-button">
      <a class="product-quickview" id="{{productData.id}}" title="View details">
        <span>View details</span>
      </a>
    </div>
  </div>
  <div class="product-details">
    <h3>
      <a class="product-title">{{productData.name}}</a>
    </h3>
    <span class="price">
      <ins>
        <span class="money">${{productData.price}}</span>
      </ins>
    </span>
  </div>
</div>
